@model IEnumerable<TQuocGium>
<a href="" class="nav__item-link">Quoc Gia </a>
<ul class="subnav">
    @foreach(var item in Model)

   {
        var Url = "https://localhost:7020/api/APISanPham/" + item.MaNuoc.Trim();
        <li class="subnav__item">
        <a onclick="ShowProduct('@Url')" class="subnav__item-link">@item.TenNuoc</a>
    </li>
   }
</ul>

<script>
    function ShowProduct(getUrl) {
        var str = '';
        $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (key, val) {
                        var linkimage = "../Products/Images/" + $.trim(val.anhDaiDien);
                    str = `<div class="col l-3 m-m-b-20 c-12">
        <div class="place__item">
            <div class="place__bg">
                <img src="`+linkimage;
                
                str += `" alt="" class="place__img">

            </div>
            <div class="place__info" style="padding: 0; text-align:center ">
                <header class="place__header">
                    <h3 class="place__heading">${val.tenSp}</h3>
                    <p class="place__location">
                        <i class="ri-map-pin-line"></i> 
                    </p>
                </header>
                <div class="place__price" style="padding: 20px;">
                    <div class="place__price-right">
                        <span class="" style="color: red; font-size: 23px; padding: 10px;">Giá:</span>
                        <span class="place__price-current"></span>
                    </div>
                </div>
                <footer class="place__footer">
                    <a href="" class="place__btn bg__color--berlin">Chi tiết</a>
                </footer>
            </div>
        </div>
    </div>`
                });
                $('#displayProduct').html(str);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>
